/* Waybar */

#waybar {
  background: rgba(255, 255, 255, 0);
}

/* All objects */

#workspaces,
#network,
#pulseaudio,
#tray,
#clock,
#custom-airpods {
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  color: white;
  padding: 0px 8px;
  margin: 0;
}

#clock {
  color: #9999ff;
}

#network {
  color: #ff9aff;
}

#pulseaudio {
  color: #e7a257;
}

/* Workspaces */

#workspaces {
  padding: 0;
  margin-left: 4;
}

#workspaces button {
  all: unset;
  padding: 0px 8px;
  border: none;
  font-style: italic;
  color: #d0c6b9;
}

#workspaces button.active {
  color: #57bb85;
}

#workspaces button:hover {
  color: white;
}

#workspaces button.urgent {
  color: #f76a93;
}
